@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
 
  text-rendering: optimizeLegibility;
  
}

.profile {
  font-size: 100%;
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-text {
  color: #000000;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 128px;
  border-radius: 16px;
}

.profile-header p {
  font-size: 1.2rem;
  margin: 5px 0 0;
}

.profile-links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.profile-links a {
  text-decoration: none;
  color: #0fa4d1;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-links a:hover {
  color: #38383b;
}

.contact-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: #ccc;
}

.contact-icons a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #777777;
  border: 1px solid #ccc; /* Light grey border */
  padding: 5px; /* Space between the icon and the border */
  border-radius: 5px; /* Rounded corners */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust width and height to ensure uniformity */
  height: 40px;
  transition: transform 0.2s ease; /* Smooth transition for the transform */
}

.contact-icons a:hover {
  background-color: #eaeaea;
  transform: scale(1.1); /* Scale the icon to 110% on hover */
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-header p {
    font-size: 1rem;
  }
}

.location
{
  color: #666;
  font-size: 18px;
  font-weight: 400;
}

.profile-text h2 {
  margin: 5px 0;
  font-weight: 500;
  color: #444444; /* Light grey color */
}

.profile-text h4 {
  margin: 5px 0;
  font-size: 24px;
  color: #818181;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.profile-text h4 i {
  font-size: .75em;
  margin: auto;
}

